// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
a{
  text-decoration: none;
  color: $main;
}

.fixed-wrapper{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  margin: auto;
  background: #ffffff;
}
.navbar {
  position: relative;
  display: flex;
  // flex-wrap: wrap; allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding:0 20px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  //margin-bottom: 63px;
}

.nav-brand {
  font-size: 20px;
  .router-link-active{
    text-decoration: none;
    color:$active;
    border-bottom: none;
  }
}
.burger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  &:hover{
    background-color: #000000;
    border-radius: 3px;
    cursor: pointer;
  }
}
.burger-line {
  width: 1em;
  height: 2px;
  //margin-bottom: 6px;
  background:$main;
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: row;  //cannot use `inherit` to get the `.navbar`s value
  cursor: pointer;

  .nav-item {
    display: flex;
    align-items: center;
    transition: 0.4s;
    .nav-link {
      padding:20px;
      text-decoration: none;
      // color:$main;
      &:hover{
        color: $active;
      }
    }
  }
}
.router-link-active{
  border-bottom: $active 1px solid;
  color: $active;
}
.tabs-wrapper{
  position: fixed;
  border-right: 1px solid $border-color;
  background: rgba($color: #ffffff, $alpha: 1.0);
  padding-right: 2rem;
  list-style: none;
  min-width: 150px;

    .tab-item {
        text-decoration: none;
        font-size: 0.9rem;
        color: $main;
        padding: 24px 0 5px 0;
        border-bottom: transparent 1px solid;
        &:hover {
          border-bottom: $active 1px solid;
          cursor: pointer;
          color: $active;
          }
    }
}

