// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
a{
  text-decoration: none;
  color: $main;
  &:hover{
    color: $active;
  }
}

.fixed-wrapper{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  margin: auto;
  background: #ffffff;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding:0 20px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
}
.nav-brand {
  font-size: 20px;
  .router-link-active{
    text-decoration: none;
    color:$active;
    border-bottom: none;
  }
}
.burger{
  display: none;
  padding-top: 8px;
  .burger-line {
    fill:$main;
    &:hover{
      cursor: pointer;
      fill:$active;
    }
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: row;  //cannot use `inherit` to get the `.navbar`s value
  cursor: pointer;

  .nav-item {
    display: flex;
    align-items: center;
    transition: 0.4s;
    .nav-link {
      padding:20px 20px 18px 20px;
      text-decoration: none;
      span{
        margin-right: 10px;
      }
    }
  }
}
.router-link-active{
  border-bottom: $active 1px solid;
  color: $active;
}
.tabs-wrapper{
  position: fixed;
  border-right: 1px solid $border-color;
  background: rgba($color: #ffffff, $alpha: 1.0);
  padding-right: 2rem;
  list-style: none;
  min-width: 150px;

    .tab-item {
        text-decoration: none;
        font-size: 0.9rem;
        color: $main;
        padding: 24px 0 5px 0;
        border-bottom: transparent 1px solid;
        transition: 0.3s ease;
        &:hover {
          border-bottom: $active 1px solid;
          cursor: pointer;
          color: $active;
          }
    }
    .active{
      border-bottom: $active 1px solid;
      a{
        color: $active;
      }
    }
}

