// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.
a{
  text-decoration: none;
  color: $main;
  &:hover{
    color: $active;
  }
}
.fixed-wrapper{
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  margin: auto;
  background: #ffffff;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; // space out brand from logo
  // border-bottom: 1px solid $border-color;
  cursor: pointer;
}
.nav-brand {
  font-size: 20px;
  margin-left: 20px;
  .router-link-active{
    text-decoration: none;
    color:$active;
    border-bottom: none;
  }
}
.burger{
  display: none;
  padding-top: 8px;
  margin-right: 20px;
  .burger-line {
    fill:$main;
    &:hover{
      cursor: pointer;
      fill:$active;
    }
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: row;  //cannot use `inherit` to get the `.navbar`s value
  cursor: pointer;

  .nav-item {
    list-style: none;
    .nav-link {
      padding:20px 10px 18px 10px;
      transition: 0.3s ease all;
      text-decoration: none;
      display: flex;
      align-items: center;
      span{
        margin-right: 10px;
        &:hover{
          border-bottom:transparent;
        }
      }
    }
    :hover {
      border-bottom: 1px solid $active;
    }
  }
}
.router-link-active{
  border-bottom: $active 1px solid;
  color: $active;
}
.tabs-wrapper{
  position: fixed;
  background: rgba($color: #ffffff, $alpha: 1.0);
  list-style: none;
  margin-top: -20px;
  padding-right: 20px;
  height: 100vh;

    .tab-item {
        text-decoration: none;
        font-size: 0.9rem;
        padding: 24px 0 5px 0;
        border-bottom: transparent 1px solid;
        transition: 0.3s ease all;
        &:hover {
          border-bottom: $active 1px solid;
          cursor: pointer;
          a{
            color:$active;
          }
          }
    }
}

