@import '_variable.scss';
@import '_navbar.scss';


* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    

}
h4{
    margin-bottom: 10px;
}
p{
    color: $main;
}
html{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

ul li{
    list-style: none;
}

@import '_media.scss';