a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  color: #000000;
}

.fixed-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  margin: auto;
  background: #ffffff;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eaecef;
  cursor: pointer;
}

.nav-brand {
  font-size: 20px;
}

.nav-brand .router-link-active {
  text-decoration: none;
  color: #000000;
  border-bottom: none;
}

.burger {
  display: none;
  padding-top: 8px;
}

.burger .burger-line {
  fill: #808080;
}

.burger .burger-line:hover {
  cursor: pointer;
  fill: #000000;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.navbar-nav .nav-item {
  list-style: none;
}

.navbar-nav .nav-item .nav-link {
  padding: 20px 10px 18px 10px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-item .nav-link span {
  margin-right: 10px;
}

.navbar-nav .nav-item .nav-link span:hover {
  border-bottom: transparent;
}

.navbar-nav .nav-item :hover {
  border-bottom: 1px solid #000000;
}

.router-link-active {
  border-bottom: #000000 1px solid !important;
  color: #000000;
}

.tabs-wrapper {
  position: fixed;
  border-right: 1px solid #eaecef;
  background: white;
  list-style: none;
  margin-top: -20px;
  padding-right: 20px;
  height: 100vh;
}

.tabs-wrapper .tab-item {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 24px 0 5px 0;
  border-bottom: transparent 1px solid;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.tabs-wrapper .tab-item:hover {
  border-bottom: #000000 1px solid;
  cursor: pointer;
}

.tabs-wrapper .tab-item:hover a {
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h4 {
  margin-bottom: 5px;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 20px 20px 0 20px;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 744px) {
  .container {
    max-width: 720px;
  }
  .navbar {
    display: block;
    padding-top: 10px;
    background-color: #fff;
  }
  .nav-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
  }
  .nav-brand .burger {
    display: block;
  }
  .navbar-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #fff;
    z-index: -2;
  }
  .navbar-nav .nav-item .nav-link {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-item :hover {
    border-bottom: 1px solid #000000;
  }
}
