.fa {
  margin: 0 10px;
}

.hidden {
  display: none;
}

.fixed-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  background: #ffffff;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eaecef;
  cursor: pointer;
}

.nav-brand {
  font-size: 20px;
}

.nav-brand a {
  text-decoration: none;
  color: #000000;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.burger:hover {
  background-color: #000000;
  border-radius: 3px;
  cursor: pointer;
}

.burger-line {
  width: 1em;
  height: 2px;
  background: #808080;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: transparent 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-nav .nav-item .nav-link {
  padding: 20px;
  text-decoration: none;
  color: #808080;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #000000;
}

.navbar-nav .nav-item:hover, .navbar-nav .nav-item.active {
  border-bottom: #000000 1px solid;
  cursor: pointer;
}

.navbar-nav .dropdown-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  left: 0;
  top: 63px;
  border-bottom: 1px solid #eaecef;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  background: white;
}

.navbar-nav .dropdown-wrapper .dropdown-item {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  max-width: 100%;
  color: #808080;
  padding: 13px 30px;
  cursor: pointer;
}

.navbar-nav .dropdown-wrapper .dropdown-item a {
  text-decoration: none;
  color: inherit;
}

.navbar-nav .dropdown-wrapper .dropdown-item.active, .navbar-nav .dropdown-wrapper .dropdown-item:active, .navbar-nav .dropdown-wrapper .dropdown-item:hover {
  color: #000000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h4 {
  margin-bottom: 10px;
}

p {
  color: #808080;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 63px auto 20px;
  padding: 1rem;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .navbar {
    display: block;
  }
  .navbar-nav {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-nav .dropdown-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-brand {
    padding: 20px;
  }
  .nav-item {
    text-align: center;
  }
}
