.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.navbar .dropdown-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 63px;
}

.navbar .dropdown-wrapper .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.navbar .dropdown-wrapper .dropdown .dropdown-item {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  max-width: 100%;
  color: #808080;
  padding: 10px 30px;
  border-bottom: transparent 3px solid;
  cursor: pointer;
}

.navbar .dropdown-wrapper .dropdown .dropdown-item a {
  text-decoration: none;
  color: inherit;
}

.navbar .dropdown-wrapper .dropdown .dropdown-item.active, .navbar .dropdown-wrapper .dropdown .dropdown-item:active, .navbar .dropdown-wrapper .dropdown .dropdown-item:hover {
  color: #000000;
  border-bottom: #000000 3px solid;
}

.navbar-brand {
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
  font-size: 20px;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
}

.navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: transparent 3px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-nav .nav-item .nav-link {
  padding: 20px;
  text-decoration: none;
  color: #808080;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #000000;
}

.navbar-nav .nav-item:hover, .navbar-nav .nav-item.active {
  border-bottom: #000000 3px solid;
  cursor: pointer;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-toggler {
  padding: 10px;
  line-height: 1;
  background-color: transparent;
  border: #808080 solid transparent;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar .navbar-brand {
  color: #808080;
}

.navbar .navbar-toggler {
  color: #808080;
  border-color: #000000 1px solid;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  color: #808080;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
